<div class="pure-g" style="width:100%">
    <div class="channel-profile pure-u-4-24 pure-u-md-2-24">
        <img loading="lazy" style="margin-right:1em;margin-top:1em;width:90%" src="{{ post.author_thumbnail.thumbnails.get(0).unwrap().url }}">
    </div>
    <div class="pure-u-20-24 pure-u-md-22-24">
        <p>
            <b>
                <a class="channel-owner"  href="/channel/{{ channel.metadata.external_id }}">{{ post.author_text.runs.get(0).unwrap().text }}</a>
            </b>
            <p style="white-space:pre-wrap">
                {% if post.content_text.runs.is_some() %}
                    {% for snippet in post.content_text.runs.as_ref().unwrap() %}
                        {{ snippet.text.clone()}}
                    {% endfor %}
                {% endif %}
            </p>
            {% if post.backstage_attachment.is_some()  %}
                {% match post.backstage_attachment.as_ref().unwrap() %}
                    {% when  youtubei_rs::types::enums::BackstageAttachments::BackstageImageRenderer with (imageRenderer) %}
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <img loading="lazy" style="width:100%" src="{{ context.config.proxy_domain }}/{{ imageRenderer.image.thumbnails.get(0).unwrap().url }}">
                            </div>
                        </div>
                    {% when  youtubei_rs::types::enums::BackstageAttachments::VideoRenderer with (videoRenderer) %}
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <div style="position:relative;width:100%;height:0;padding-bottom:56.25%;margin-bottom:5px">
                    
                                    <p>#{attachment["error"]}</p>
                                    <iframe id='ivplayer' style='position:absolute;width:100%;height:100%;left:0;top:0'
                                        src='/embed/{{ videoRenderer.video_id}}?autoplay=0' style='border:none;'></iframe>
                                </div>
                            </div>
                        </div>
                    {% when  youtubei_rs::types::enums::BackstageAttachments::PostMultiImageRenderer with (imageVecRenderer) %}
                    {% for imageRenderer in imageVecRenderer.images %}
                            <div class="pure-g">
                                <div class="pure-u-1 pure-u-md-1-2">
                                    <img loading="lazy" style="width:100%" src="{{ context.config.proxy_domain }}/{{ imageRenderer.image.thumbnails.get(0).unwrap().url }}">
                                </div>
                            </div>
                        {% endfor %}
                    {%else %}
                {% endmatch %}
            {% endif %}

            <span title="{{ post.published_time_text.runs.as_ref().unwrap().get(0).unwrap().text }}">{{ localize("WTF") }}</span>
            <a href="https://www.youtube.com/watch?v=#{comments[" videoId"]}&lc=#{child["commentId"]}"
                title="#{translate(locale, " YouTube comment permalink")}">[YT]</a>
            <a href="https://www.youtube.com/channel/#{comments[" authorId"]}/community?lb=#{child["commentId"]}"
                title="#{translate(locale, " YouTube comment permalink")}">[YT]</a>
            <i class="icon ion-ios-thumbs-up">{{ post.vote_count.simple_text  }}</i>
            <span class="creator-heart-container" title="#{translate(locale, " `x` marked it with a ❤",
                child["creatorHeart"]["creatorName"].as_s)}">
                <div class="creator-heart">
                    <img loading="lazy" class="creator-heart-background-hearted" src="#{creator_thumbnail}"></img>
                    <div class="creator-heart-small-hearted">
                        <div class="icon ion-ios-heart creator-heart-small-container"></div>
                    </div>
                </div>
            </span>
        </p>
        #{replies_html}
    </div>
</div>
