<a href="/playlist?list={{ pl.playlist_id }}">
    {% if !preferences.thin_mode %}
        <div class="thumbnail">
            <img loading="lazy" tabindex="-1" class="thumbnail" src="{{ pl.thumbnail.thumbnails.last().unwrap().url }}"/>
            <p class="length">{{ localize("generic_videos_count", x: pl.video_count_short_text.simple_text.clone()) }}</p>
        </div>
    {% endif %}
    <p style="width:100%">{{ pl.title.simple_text }}</p>
</a>
<h5 class="pure-g">
    <div class="pure-u-14-24">
        {% if pl.long_byline_text.runs.get(0).unwrap().navigation_endpoint.as_ref().unwrap().browse_endpoint.is_some() %}
            <b style="width:100%"><a href="/channel/{{ pl.long_byline_text.runs.get(0).unwrap().navigation_endpoint.as_ref().unwrap().browse_endpoint.as_ref().unwrap().browse_id }}">{{ pl.long_byline_text.runs.get(0).unwrap().text }}</b>
        {% else %}
            <b style="width:100%">{{ pl.long_byline_text.runs.get(0).unwrap().text }}&nbsp;</b>
        {% endif %}
    </div>
</h5>