<a style="width:100%" href="/playlist?list={{ item.playlist_id }}">
    {% if !context.preferences.thin_mode %}
        <div class="thumbnail">
            <img loading="lazy" tabindex="-1" class="thumbnail" src="{{ item.thumbnails.get(0).unwrap().thumbnails.last().unwrap().url }}"/>
            <p class="length">{{ localize("generic_videos_count", x: item.video_count.clone()) }}</p>
        </div>
    {% endif %}
    <p dir="auto">{{ item.title.simple_text }}</p>
</a>
{% let author_info = item.short_byline_text.runs.get(0).as_ref().unwrap().clone() %}
<a href="/channel/{{ author_info.navigation_endpoint.as_ref().unwrap().browse_endpoint.as_ref().unwrap().browse_id }}">
    {% match item.owner_badges %}
    {% when Some with (badges) %}
        <p dir="auto">{{ author_info.text}}{% if youtubei_rs::utils::get_author_verified(badges.get(0).as_ref().unwrap().metadata_badge_renderer)  %}&nbsp;<i class="icon ion ion-md-checkmark-circle"></i>{% endif %}</p>
    {% when None %}
        <p dir="auto">{{ author_info.text }}</p>
{% endmatch %}
</a>