{% if item.content.vertical_list_renderer.is_some() && item.content.horizontal_list_renderer.is_none() %}
    {% for content in item.content.vertical_list_renderer.as_ref().unwrap().items.iter() %}
        {% match content %}
            {% when youtubei_rs::types::enums::ItemSectionRendererContents::ChannelRenderer with (item) %}
                {% include "common/renderers/channelRenderer.html" %}
            {% when youtubei_rs::types::enums::ItemSectionRendererContents::PlaylistRenderer with (item) %}          
                {% include "common/renderers/playlistRenderer.html" %}
            {% when  youtubei_rs::types::enums::ItemSectionRendererContents::VideoRenderer with (item) %}
                {% include "common/renderers/videoRenderer.html" %}
            {% else %}
        {% endmatch %}
    {% endfor %}
{% else if item.content.vertical_list_renderer.is_none() && item.content.horizontal_list_renderer.is_some()  %}
    {% for content in item.content.horizontal_list_renderer.as_ref().unwrap().items.iter() %}
        {% match content %}
            {% when youtubei_rs::types::enums::ItemSectionRendererContents::GridChannelRenderer with (item) %}

            {% when youtubei_rs::types::enums::ItemSectionRendererContents::GridPlaylistRenderer with (item) %}          

            {% when  youtubei_rs::types::enums::ItemSectionRendererContents::GridVideoRenderer with (item) %}

            {% else %}
        {% endmatch %}
    {% endfor %}
{% else %}
    {% for content in item.content.expanded_shelf_contents_renderer.as_ref().unwrap().items.iter() %}
        {% match content %}
            {% when youtubei_rs::types::enums::ItemSectionRendererContents::ChannelRenderer with (item) %}
                {% include "common/renderers/channelRenderer.html" %}
            {% when youtubei_rs::types::enums::ItemSectionRendererContents::PlaylistRenderer with (item) %}          
                {% include "common/renderers/playlistRenderer.html" %}
            {% when  youtubei_rs::types::enums::ItemSectionRendererContents::VideoRenderer with (item) %}
                {% include "common/renderers/videoRenderer.html" %}
            {% else %}
        {% endmatch %}
    {% endfor %}
{% endif %}