<video style="outline:none;width:100%;background-color:#000" playsinline poster="{{ video.thumbnail_url }}"
    id="video" class="on-video_video video-js video-style-{{ context.preferences.video_style.get_style() }}"
    {% if context.preferences.autoplay %}autoplay{% endif %}
    {% if context.preferences.video_loop %}loop{% endif %}
    {% if context.show_controls() %}controls{% endif %}>
    {% if !video.hls.is_some() && !context.config.disable_livestreams %}
        <source src="{{ video.hls.unwrap() }}}" type="application/x-mpegURL" label="livestream">
    {% else %}
        {% if context.listen() %}
            {% for (index, stream) in video.audio_streams.iter().enumerate() %}
                {% let selected = index == 0 %}
                <source src="stream.url" type="{{ stream.mime_type }}" label="{{ stream.bitrate }}k" selected="{{ selected  }}">
            {% endfor %}
        {% else %}
            {% if context.preferences.quality == "dash" && video.dash.is_some() %}
                <source src="{{ video.dash.unwrap() }}" type="application/dash+xml" label="dash">
            {% endif %}

            {% for (index, stream) in video.video_streams.iter().enumerate() %}
                    {% let selected = context.preferences.quality == stream.quality || index == 0 %}
 
                    <source src="{{ stream.url }}" type="{{ stream.mime_type }}" label="{{ stream.quality  }}" selected="{{ selected  }}">
            {% endfor %}

            {% for caption in video.subtitles.iter() %}
                <track kind="captions" src="{{caption.url}}" label="{{  caption.name }}">
            {% endfor %}
        {% endif %}
    {% endif %}
</video>

<script id="video_data" type="application/json">
{
    "aspect_ratio": {{ video.video_streams[0].height / video.video_streams[0].width }},
    "title": {{ video.title|json|safe }},
    "description": {{ video.description|json|safe }},
    "thumbnail": {{ video.thumbnail_url|json|safe }},
}
</script>
<script src="/assets/js/video.js"></script>