<video style="outline:none;width:100%;background-color:#000" playsinline poster="{{ video.thumbnail }}"
    id="player" class="on-video_player video-js player-style-{{ preferences.player_style }}"
    {% if preferences.autoplay %}autoplay{% endif %}
    {% if preferences.video_loop %}loop{% endif %}
    {% if params.controls %}controls{% endif %}>
    <!-- TODO: research into hlsvp-->
    {% if player.hls_manifest_url.is_some() && !config.disable_livestreams %}
        <source src="{{  player.hls_manifest_url.as_ref().unwrap() }}{% if params.local %}?local=true{% endif %}" type="application/x-mpegURL" label="livestream">
    {% else %}
        {% if params.listen %}
            {% for (pos, stream) in player.audio_streams.iter().enumerate() %}
                {% let selected = pos == 0 %}
                <source src="/latest_version?id=#{{ video.id }}&itag=#{{ stream.itag }}{% if params.local %}&local=true{% endif %}" type="{{ stream.mime_type }}" label="{{ stream.bitrate }}k" selected="{{ selected  }}">
            {% endfor %}
        {% else %}
            {% if preferences.quality == "dash" %}
                <source src="/api/manifest/dash/id/{{ video.id }}?local=true&unique_res=1" type="application/dash+xml" label="dash">
            {% endif %}

            {% for (index, stream) in player.formats.iter().enumerate() %}
                {% if stream.itag != 17 %}
                    {% let selected = preferences.quality == stream.quality || index == 0 %}
                
                    <source src="/latest_version?id=#{{video.id}}&itag=#{{stream.itag }}{% if params.local %}&local=true{% endif %}" type="{{ stream.mime_type }}" label="{{ stream.quality  }}" selected="{{ selected  }}">
                {% endif %}
            {% endfor %}

            {% for caption in player.preferred_captions.iter() %}
                <track kind="captions" src="/api/v1/captions/{{ video.id }}?label={{ caption.name.simple_text  }}" label="{{  caption.name.simple_text  }}">
            {% endfor %}

            {% for caption in player.captions.iter() %}
                <track kind="captions" src="/api/v1/captions/{{ video.id }}?label={{ caption.name.simple_text  }}" label="{{  caption.name.simple_text }}">
            {% endfor %}
        {% endif %}
    {% endif %}
</video>

<script id="player_data" type="application/json">
{
    "aspect_ratio": {{ player.aspect_ratio }},
    "title": {{ video.title }},
    "description": {{ video.short_description }},
    "thumbnail": {{ video.thumbnail }},
    "preferred_caption_found": {{ !player.preferred_captions.is_empty() }}
}
</script>
<script src="/assets/js/player.js"></script>