<!DOCTYPE html>
<html lang="{{ preferences.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block header %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/assets/site.webmanifest">
        <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#575757">
        <meta name="msapplication-TileColor" content="#575757">
        <meta name="theme-color" content="#575757">
        <link title="Invidious" type="application/opensearchdescription+xml" rel="search" href="/assets/opensearch.xml">
        <link rel="stylesheet" href="/assets/css/pure-min.css">
        <link rel="stylesheet" href="/assets/css/grids-responsive-min.css">
        <link rel="stylesheet" href="/assets/css/ionicons.min.css">
        <link rel="stylesheet" href="/assets/css/default.css">
        <script src="/assets/js/_helpers.js"></script>
    </head>

    <body class="{{ preferences.dark_mode }}-theme">
        <span style="display:none" id="dark_mode_pref">{{ preferences.dark_mode }}</span>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-2-24"></div>
            <div class="pure-u-1 pure-u-md-20-24" id="contents">
                <div class="pure-g navbar h-box">
                    <div class="pure-u-1 pure-u-md-4-24">
                        <a href="/" class="index-link pure-menu-heading">Invidious</a>
                    </div>
                    <div class="pure-u-1 pure-u-md-12-24 searchbar">
                        {% include "common/search_box.html" %}
                    </div>

                    <div class="pure-u-1 pure-u-md-8-24 user-field">
                        {% match user %}
                        {% when Some with (user) %}
                            <div class="pure-u-1-4">
                                <a id="toggle_theme" href="/toggle_theme?referer={{ params.current_page }}" class="pure-menu-heading">
                                    {%  if preferences.dark_mode == "dark"  %}
                                        <i class="icon ion-ios-sunny"></i>
                                   {%  else  %}
                                        <i class="icon ion-ios-moon"></i>
                                   {% endif %}
                                </a>
                            </div>
                            <div class="pure-u-1-4">
                                <a id="notification_ticker" title="{{ localize("subscriptions") }}" href="/feed/subscriptions" class="pure-menu-heading">
                                   {%  if user.notification_count > 0  %}
                                        <span id="notification_count">{{ user.notification_count }}</span> <i class="icon ion-ios-notifications"></i>
                                   {%  else  %}
                                        <i class="icon ion-ios-notifications-outline"></i>
                                   {% endif %}
                                </a>
                            </div>
                            <div class="pure-u-1-4">
                                <a title="{{ localize("preferences") }}" href="/preferences?referer={{ params.current_page }}" class="pure-menu-heading">
                                    <i class="icon ion-ios-cog"></i>
                                </a>
                            </div>
                           {%  if preferences.show_nick  %}
                                <div class="pure-u-1-4">
                                    <span id="user_name">{{ user.name }}</span>
                                </div>
                           {% endif  %}
                            <div class="pure-u-1-4">
                                <form action="/signout?referer={{ params.current_page }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
                                    <a class="pure-menu-heading" href="#">
                                        <input style="all:unset" type="submit" value="{{ localize("log_out") }}">
                                    </a>
                                </form>
                            </div>
                       {% when None %}
                            <div class="pure-u-1-3">
                                <a id="toggle_theme" href="/toggle_theme?referer={{ params.current_page }}" class="pure-menu-heading">
                                   {%  if preferences.dark_mode == "dark"  %}
                                        <i class="icon ion-ios-sunny"></i>
                                   {% else  %}
                                        <i class="icon ion-ios-moon"></i>
                                   {% endif %}
                                </a>
                            </div>
                            <div class="pure-u-1-3">
                                <a title="{{ localize("preferences") }}" href="/preferences?referer={{ params.current_page }}" class="pure-menu-heading">
                                    <i class="icon ion-ios-cog"></i>
                                </a>
                            </div>
                           {%  if config.login_enabled  %}
                                <div class="pure-u-1-3">
                                    <a href="/login?referer={{ params.current_page }}" class="pure-menu-heading">
                                        {{ localize("log_in")  }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endmatch %}
                    </div>
                </div>

                {% if !config.banner.is_empty() %}
                    <div class="h-box">
                        <h3>{{ config.banner }}</h3>
                    </div>
                {% endif %}

                {% block content %}{% endblock %}

                <footer>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <span>
                                <i class="icon ion-logo-github"></i>
                                {% if !config.modified_source_code_url.is_empty() %}
                                <a href="https://github.com/iv-org/invidious">{{ localize("footer_original_source_code") }}</a>&nbsp;/
                                <a href="{{config.modified_source_code_url }}">{{ localize("footer_modfied_source_code") }}</a>
                                {% else %}
                                <a href="https://github.com/iv-org/invidious">{{ localize("footer_source_code") }}</a>
                                {% endif %}
                            </span>
                            <span>
                                <i class="icon ion-ios-paper"></i>
                                <a href="https://github.com/iv-org/documentation">{{ localize("footer_documentation") }}</a>
                            </span>
                        </div>

                        <div class="pure-u-1 pure-u-md-1-3">
                            <span>
                                <a href="https://github.com/iv-org/invidious/blob/master/LICENSE">{{ localize("released_under_the_agplv3_on_github") }}</a>
                            </span>
                            <span>
                                <i class="icon ion-logo-javascript"></i>
                                <a rel="jslicense" href="/licenses">{{ localize("javascript_license_information") }}</a>
                            </span>
                            <span>
                                <i class="icon ion-ios-paper"></i>
                                <a href="/privacy">{{ localize("view_privacy_policy") }}</a>
                            </span>
                        </div>

                        <div class="pure-u-1 pure-u-md-1-3">
                            <span>
                                <i class="icon ion-ios-wallet"></i>
                                <a href="https://invidious.io/donate/">{{ localize("footer_donate_page") }}</a>
                            </span>
                        </div>
                    </div>
                </footer>

            </div>
            <div class="pure-u-1 pure-u-md-2-24"></div>
        </div>
        <script src="/assets/js/handlers.js"></script>
        <script src="/assets/js/themes.js"></script>
        {% match user %}
        {% when Some with (user) %}
            <script src="/assets/js/sse.js"></script>
            <script id="notification_data" type="application/json">
            {
                "upload_text": {{ localize("upload_text", x: "X") }}
                "live_upload_text": {{ localize("live_upload_text", x: "X") }}
            }
            </script>
            <script src="/assets/js/notifications.js"></script>
        {% when None %}
        {% endmatch %}
    </body>
</html>