{% extends "base.html" %}

{% block header %}
    <title>{{ channel.get_name() }} - Invidious</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/channel/{{ channel.get_id() }}" />
{% endblock header %}
{% block content %}


<div class="h-box">
    <img style="width:100%" src="{{ channel.get_banner_url() }}">
</div>
<div class="h-box">
    <hr>
</div>


<div class="pure-g h-box">
    <div class="pure-u-2-3">
        <div class="channel-profile">
            <img src="{{ channel.get_avatar_url() }}">
            <span>{{ channel.get_name() }}</span>
            {% if channel.is_verified() %}
                <i class="icon ion ion-md-checkmark-circle"></i>
            {% endif %}
        </div>
    </div>
    <div class="pure-u-1-3">
        <h3 style="text-align:right">
            <a href="/feed/channel/{{ channel.get_id() }}"><i class="icon ion-logo-rss"></i></a>
        </h3>
    </div>
</div>

<div class="h-box">
    <div id="descriptionWrapper">
        <p><span style="white-space:pre-wrap">{{ channel.get_description() }}</span></p>
    </div>
</div>

<div class="h-box">
    {% let sub_count_text = channel.get_subscriber_count() %}
    {% let channel_id = channel.get_id() %}
    {% let author = channel.get_name() %}
    {% include "common/subscribe_widget.html" %}
</div>


<div class="pure-g h-box">
    <div class="pure-u-1-3">
        <a href="https://www.youtube.com/channel/{{ channel.get_id() }}">{{ localize("view_channel_on_youtube") }}</a>
        <div class="pure-u-1 pure-md-1-3">
            {% if context.preferences.automatic_instance_redirect %}
                <a href="/redirect?referer={{ context.current_page() }}">{{ localize("switch_invidious_instance") }}</a>
            {% else %}
                <a href="https://redirect.invidious.io{{ context.current_page() }}">{{ localize("switch_invidious_instance") }}</a>
            {% endif %}
        </div>
        <div class="pure-u-1 pure-md-1-3">
            <b>{{ localize("videos") }}</b>
        </div>
    </div>
    <div class="pure-u-1-3"></div>
</div>

<div class="h-box">
    <hr>
</div>

<div class="pure-g">
    {% for item in channel.get_related_streams() %}
        <div class="pure-u-1 pure-u-md-1-4">
            <div class="h-box">
                {% include "common/related_stream.html" %}
            </div>
        </div>
    {% endfor %}
</div>

    </div>
</div>
{% endblock content %}