{% extends "base.html" %}

{% block header %}
<meta name="description" content="{{ localize("an_alternative_front_end_to_youtube") }}">
<title>
    Invidious - {{ localize("search") }}
</title>
<link rel="stylesheet" href="/assets/css/empty.css">
{% endblock %}

<div class="pure-g h-box" id="search-widget">
    <div class="pure-u-1" id="logo">
        <h1 href="/" class="pure-menu-heading">Invidious</h1>
    </div>
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1 pure-u-md-12-24 searchbar">
        {% include "common/search_box" %}
    </div>
    <div class="pure-u-1-4"></div>
</div>
