{% extends "base.html" %}
{% block content %}

{% block header %}
<meta name="thumbnail" content="{{ thumbnail }}">
<meta name="description" content="{{ HTML.escape(video.short_description) }}">
<meta name="keywords" content="{{ video.keywords.join(",") }}">
<meta property="og:site_name" content="Invidious">
<meta property="og:url" content="{{ HOST_URL }}/watch?v={{ video.id }}">
<meta property="og:title" content="{{ video.title }}">
<meta property="og:image" content="/vi/{{ video.id }}/maxres.jpg">
<meta property="og:description" content="{{ HTML.escape(video.short_description) }}">
<meta property="og:type" content="video.other">
<meta property="og:video:url" content="{{ HOST_URL }}/embed/{{ video.id }}">
<meta property="og:video:secure_url" content="{{ HOST_URL }}/embed/{{ video.id }}">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@omarroth1">
<meta name="twitter:url" content="{{ HOST_URL }}/watch?v={{ video.id }}">
<meta name="twitter:title" content="{{ video.title }}">
<meta name="twitter:description" content="{{ HTML.escape(video.short_description) }}">
<meta name="twitter:image" content="{{ HOST_URL }}/vi/{{ video.id }}/maxres.jpg">
<meta name="twitter:player" content="{{ HOST_URL }}/embed/{{ video.id }}">
<meta name="twitter:player:width" content="1280">
<meta name="twitter:player:height" content="720">
<link rel="alternate" href="https://www.youtube.com/watch?v={{ video.id }}">
<title>{{ video.title }} - Invidious</title>

<!-- Description expansion also updates the 'Show more' button to 'Show less' so
we're going to need to do it here in order to allow for translations.
 -->
<style>
#descexpansionbutton ~ label > a::after {
    content: "{{ localize("show_more") }}"
}
#descexpansionbutton:checked ~ label > a::after {
    content: "{{ localize("show_less") }}"
}
</style>
{% endblock header %}


<div id="player-container" class="h-box">
    {% block player %}{% endblock player %}
</div>
<div class="h-box">
    <h1>
        {{ video.title }}
        {% if params.listen %}
            <a title="{{localize("video_mode")}}" href="/watch?{{ env.params.query }}&listen=0">
                <i class="icon ion-ios-videocam"></i>
            </a>
        {% else %}
            <a title="{{localize("audio_mode")}}" href="/watch?{{ env.params.query }}&listen=1">
                <i class="icon ion-md-headset"></i>
            </a>
        {% endif %}
    </h1>
    {% if !video.is_listed %}
        <h3>
            <i class="icon ion-ios-unlock"></i> {{ localize("unlisted") }}
        </h3>
    {% endif %}
    {% if true %}
        <h3>
            {{ video.reason }}
        </h3>
    {% else if video.premiere_timestamp > Time.utc %}
        <h3>
            {{ localize("premieres_in_", x: video.premiere_timestamp) }}
        </h3>
    {% else if video.live_now %}
        <h3>
            {{ localize("videoinfo_started_streaming_xupload_date",  x: video.premiere_timestamp) }}
        </h3>
    {% endif %}
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-5">
        <div class="h-box">
            <span id="watch-on-youtube">
                <a href="https://www.youtube.com/watch?v={{ video.id }}">{{ localize("videoinfo_watch_on_youtube") }}</a>
                (<a href="https://www.youtube.com/embed/{{ video.id }}">{{ localize("videoinfo_youtube_embed_link") }}</a>)
            </span>
            <p id="watch-on-another-invidious-instance">
            {% if env.get("preferences").as(Preferences).automatic_instance_redirect%}
                <a href="/redirect?referer={{ env.get?("current_page") }}">{{ localize("switch_invidious_instance") }}</a>
            {% else %}
                <a href="https://redirect.invidious.io{{ env.request.resource }}">{{ localize("switch_invidious_instance") }}</a>
            {% endif %}
            </p>
            <p id="embed-link">
                <a href="{{ embed_link }}">{{ localize("videoinfo_invidious_embed_link") }}</a>
            </p>
            <p id="annotations">
                {% if params.annotations %}
                    <a href="/watch?{{ env.params.query }}&iv_load_policy=3">
                        {{ localize("hide_annotations") }}
                    </a>
                {% else %}
                    <a href="/watch?{{ env.params.query }}&iv_load_policy=1">
                        {{localize("show_annotations")}}
                    </a>
                {% endif %}
            </p>
            {% if user %}
                {% let playlists = user.get_playlists() %}
                {% if !playlists.empty? %}
                    <form data-onsubmit="return_false" class="pure-form pure-form-stacked" action="/playlist_ajax" method="post" target="_blank">
                        <div class="pure-control-group">
                            <label for="playlist_id">{{ localize("add_to_playlist") }}</label>
                            <select style="width:100%" name="playlist_id" id="playlist_id">
                                {% for playlist in playlists.iter() %}
                                    <option data-plid="{{ playlist.id }}" value="{{ playlist.id }}">{{  playlist.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
                        <input type="hidden" name="action_add_video" value="1">
                        <input type="hidden" name="video_id" value="{{ video.id }}">
                        <button data-onclick="add_playlist_video" data-id="{{ video.id }}" type="submit" class="pure-button pure-button-primary">
                            <b>{{ localize("add_to_playlist") }}</b>
                        </button>
                    </form>
                    <script id="playlist_data" type="application/json">
                    {
                        "csrf_token": {{ user.csrf_token }}
                    }
                    </script>
                    <script src="/js/playlist_widget.js?v={{ Time.utc.to_unix_ms }}"></script>
                {% endif %}
            {% endif %}
            {{ Invidious::Frontend::WatchPage.download_widget(locale, video, video_assets) }}
            <p id="views"><i class="icon ion-ios-eye"></i> {{ number_with_separator(video.views) }}</p>
            <p id="likes"><i class="icon ion-ios-thumbs-up"></i> {{ number_with_separator(video.likes) }}</p>
            <p id="dislikes"></p>
            <p id="genre">{{ localize("genre") }}
                {% if !video.genre_url %}
                    {{ video.genre }}
                {% else %}
                    <a href="{{ video.genre_url }}">{{ video.genre }}</a>
                {% endif %}
            </p>
            {% if video.license %}
                <p id="license">{{ localize("license") }}{{ video.license }}</p>
            {% endif %}
            <p id="family_friendly">{{ localize("family_friendly_") }} {{ video.is_family_friendly }}</p>
            <p id="wilson">{{ localize("wilson_score") }}{{ video.wilson_score }}</p>
            <p id="rating"></p>
            <p id="engagement">{{ localize("engagement") }}{{ video.engagement }}%</p>
            {% if video.allowed_regions.size != REGIONS.size %}
                <p id="allowed_regions">
                    {% if video.allowed_regions < REGIONS %}
                        {{ localize("whitelisted_regions") }}{{ video.allowed_regions.join(", ") }}
                    {% else %}
                        {{ localize("blacklisted_regions") }}{{ (REGIONS.to_a - video.allowed_regions).join(", ") }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
    <div class="pure-u-1 {% if params.related_videos || plid %}pure-u-lg-3-5{% else %}pure-u-md-4-5{% endif %}">
        <div class="h-box">
            <a href="/channel/{{ video.ucid }}" style="display:block;width:fit-content;width:-moz-fit-content">
                <div class="channel-profile">
                    {% if !video.author_thumbnail.empty?%}
                        <img src="/ggpht{{ URI.parse(video.author_thumbnail).request_target }}">
                    {% endif %}
                    <span id="channel-name">{{ video.author }}{% if !video.author_verified.nil? && video.author_verified %}&nbsp;<i class="icon ion ion-md-checkmark-circle"></i>{% endif %}</span>
                </div>
            </a>
            {% let sub_count_text = video.sub_count_text %}
            {% block subscribe_widget %}{% endblock subscribe_widget %}
            <p id="published-date">
                {% if video.premiere_timestamp > Time.utc %}
                    <b>{{ localize("premieres_", x: video.premiere_timestamp) }}</b>
                {% else %}
                    <b>{{ localize("shared_", x: video.published) }}</b>
                {% endif %}
            </p>
            <div id="description-box"> <!-- Description -->
                {% if video.description.size < 200 || params.extend_desc%}
                    <div id="descriptionWrapper">{{ video.description_html }}</div>
                {% else %}
                    <input id="descexpansionbutton" type="checkbox"/>
                    <div id="descriptionWrapper">{{ video.description_html }}</div>
                    <label for="descexpansionbutton">
                        <a></a>
                    </label>
                {% endif %}
            </div>
            <hr>
            <div id="comments">
                {% if nojs %}
                    {{ comment_html }}
                {% else %}
                    <noscript>
                        <a href="/watch?{{ env.params.query }}&nojs=1">
                            {{ localize("hi_looks_like_you_have_javascript_turned_off_click_here_to_view_comments_keep_in_mind_they_may_take_a_bit_longer_to_load") }}
                        </a>
                    </noscript>
                {% endif %}
            </div>
        </div>
    </div>
    {% if params.related_videos || plid %}
        <div class="pure-u-1 pure-u-lg-1-5">
            {% if plid %}
                <div id="playlist" class="h-box"></div>
            {% endif %}
            {% if params.related_videos %}
                <div class="h-box">
                    {% if !video.related_videos.empty? %}
                        <div {% if plid %}style="display:none"{% endif %}>
                            <div class="pure-control-group">
                                <label for="continue">{{ localize("preferences_continue_label") }}</label>
                                <input name="continue" id="continue" type="checkbox" {% if params.continue %}checked{% endif %}>
                            </div>
                            <hr>
                        </div>
                    {% endif %}
                    {% for rv in video.related %}
                        {% if rv.id %}
                            <a href="/watch?v={{ rv.id }}">
                                {% if !env.get("preferences").as(Preferences).thin_mode %}
                                    <div class="thumbnail">
                                        <img loading="lazy" class="thumbnail" src="/vi/{{ rv["id"] }}/mqdefault.jpg">
                                        <p class="length">{{ rv.length_seconds }}</p>
                                    </div>
                                {% endif %}
                                <p style="width:100%">{{ rv["title"] }}</p>
                            </a>
                            <h5 class="pure-g">
                                <div class="pure-u-14-24">
                                    {% if rv["ucid"]? %}
                                        <b style="width:100%"><a href="/channel/{{ rv["ucid"] }}">{{ rv["video.author"]? }}{% if rv["author_verified"]? == "true" %}&nbsp;<i class="icon ion ion-md-checkmark-circle"></i>{% endif %}</a></b>
                                    {% else %}
                                        <b style="width:100%">{{ rv["video.author"]? }}{% if rv["author_verified"]? == "true" %}&nbsp;<i class="icon ion ion-md-checkmark-circle"></i>{% endif %}</b>
                                    {% endif %}
                                </div>
                                <div class="pure-u-10-24" style="text-align:right">
                                    <b class="width:100%">{{
                                        localize("generic_views_count", x: rv.view_count)
                                    }}</b>
                                </div>
                            </h5>
                        {% endif %}
                    {% endfor%}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
<script src="/js/watch.js?v={{ ASSET_COMMIT }}"></script>
{% endblock content %}