{% extends "base.html" %}

{% block header %}
<meta name="thumbnail" content="{{ video.get_thumbnail_url() }}">
<meta name="description" content="{{ video.get_description() }}">
<meta property="og:site_name" content="Invidious">
<meta property="og:url" content="{{ context.config.domain}}/watch?v={{ video.get_id() }}">
<meta property="og:title" content="{{ video.get_title() }}">
<meta property="og:image" content="/vi/{{ video.get_id() }}/maxres.jpg">
<meta property="og:description" content="{{ video.get_description() }}">
<meta property="og:type" content="video.other">
<meta property="og:video:url" content="{{ context.config.domain}}/embed/{{ video.get_id() }}">
<meta property="og:video:secure_url" content="{{ context.config.domain}}/embed/{{ video.get_id() }}">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@omarroth1">
<meta name="twitter:url" content="{{ context.config.domain}}/watch?v={{ video.get_id() }}">
<meta name="twitter:title" content="{{ video.get_title() }}">
<meta name="twitter:description" content="{{ video.get_description() }}">
<meta name="twitter:image" content="{{ context.config.domain}}/vi/{{ video.get_id() }}/maxres.jpg">
<meta name="twitter:player" content="{{ context.config.domain}}/embed/{{ video.get_id() }}">
<meta name="twitter:player:width" content="1280">
<meta name="twitter:player:height" content="720">
<link rel="alternate" href="https://www.youtube.com/watch?v={{ video.get_id() }}">
<title>{{ video.get_title() }} - Invidious</title>

<!-- Description expansion also updates the 'Show more' button to 'Show less' so
we're going to need to do it here in order to allow for translations.
 -->
<style>
#descexpansionbutton ~ label > a::after {
    content: "{{ localize("show_more") }}"
}
#descexpansionbutton:checked ~ label > a::after {
    content: "{{ localize("show_less") }}"
}
</style>
{% endblock header %}
{% block content %}
<script id="video_data" type="application/json">
    {
    "id": "{{ video.get_id() }}",
    "genre": "",
    {% match playlist %}
        {% when Some with (pl) %}
            "index": "",
            "plid": pl.get_id(),
        {% when None %}
    {% endmatch %}
    "length_seconds": "{{ video.get_duration() }}",
    "play_next":  {{ !video.has_related_streams() && !playlist.is_some() && context.continue_autoplay() }},
    "next_video": "{{ video.get_next_video() }}",
    "youtube_comments_text": "{{ localize("view_youtube_comments") }}",
    "reddit_comments_text": "{{ localize("view_reddit_comments") }}",
    "reddit_permalink_text": "{{ localize("view_more_comments_on_reddit") }}",
    "comments_text": "{{ localize("view_x_comments", x: 0) }}",
    "hide_replies_text": "{{ localize("hide_replies") }}",
    "show_replies_text": "{{ localize("show_replies") }}",
    "preferences": {{  serde_json::to_value(context.preferences).unwrap()|json|safe }},
    "params": {{ serde_json::to_value(context.query_params).unwrap()|json|safe }},
    "premiere_timestamp": "",
    "vr": false,
    "projection_type": ""
    }
</script>


<div id="player-container" class="h-box">
    {% include "common/player.html" %}
</div>
<div class="h-box">
    <h1>
        {{ video.get_title() }}
        {% if context.listen() %}
            <a title="{{localize("video_mode")}}" href="/watch?v={{ video.get_id() }}&listen=0">
                <i class="icon ion-ios-videocam"></i>
            </a>
        {% else %}
            <a title="{{localize("audio_mode")}}" href="/watch?v={{ video.get_id() }}&listen=1">
                <i class="icon ion-md-headset"></i>
            </a>
        {% endif %}
    </h1>
    {% if video.is_live() %}
        <h3>
            {{ localize("videoinfo_started_streaming_x_ago",  x: video.get_upload_date()) }}
        </h3>
    {% endif %}
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-5">
        <div class="h-box">
            <span id="watch-on-youtube">
                <a href="https://www.youtube.com/watch?v={{ video.get_id() }}">{{ localize("videoinfo_watch_on_youtube") }}</a>
                <a href="https://www.youtube.com/embed/{{ video.get_id() }}">{{ localize("videoinfo_youtube_embed_link") }}</a>
            </span>
            <p id="watch-on-another-invidious-instance">
            {% if context.preferences.automatic_instance_redirect %}
                <a href="/redirect?referer={{ context.current_page }}">{{ localize("switch_invidious_instance") }}</a>
            {% else %}
                <a href="https://redirect.invidious.io{{ context.current_page }}">{{ localize("switch_invidious_instance") }}</a>
            {% endif %}
            </p>
            <p id="embed-link">
                <a href="/embed/{{video.get_id()}}?{{ context.query_params() }}">{{ localize("videoinfo_invidious_embed_link") }}</a>
            </p>
            {% match context.user %}
            {% when Some with (user_unwraped) %}
                {% let playlists = user_unwraped.get_playlists() %}
                {% if !playlists.is_empty() %}
                    <form data-onsubmit="return_false" class="pure-form pure-form-stacked" action="/playlist_ajax" method="post" target="_blank">
                        <div class="pure-control-group">
                            <label for="playlist_id">{{ localize("add_to_playlist") }}</label>
                            <select style="width:100%" name="playlist_id" id="playlist_id">
                                {% for playlist in playlists.iter() %}
                                    <option data-plid="" value="">{{  playlist.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" name="csrf_token" value="{{ user_unwraped.csrf_token }}">
                        <input type="hidden" name="action_add_video" value="1">
                        <input type="hidden" name="video.get_id()" value="{{ video.get_id() }}">
                        <button data-onclick="add_playlist_video" data-id="{{ video.get_id() }}" type="submit" class="pure-button pure-button-primary">
                            <b>{{ localize("add_to_playlist") }}</b>
                        </button>
                    </form>
                    <script id="playlist_data" type="application/json">
                    {
                        "csrf_token": {{ user_unwraped.csrf_token|json|safe }}
                    }
                    </script>
                    <script src="/assets/js/playlist_widget.js"></script>
                {% endif %}
                {% when None %}
            {% endmatch %}
            <p id="views"><i class="icon ion-ios-eye"></i> {{ video.get_views() }}</p>
            <p id="likes"><i class="icon ion-ios-thumbs-up"></i> {{ video.get_likes() }}</p>
            <p id="dislikes"></p>
            <p id="license">{{ video.get_licence() }}</p>
            <p id="category">{{ video.get_category() }}</p>
            <p id="privacy">{{ video.get_privacy() }}</p>
            <p id="age-limit">{{ video.get_age_limit() }}</p>
            <p id="wilson" style="display: none; visibility: hidden;"></p>
            <p id="rating" style="display: none; visibility: hidden;"></p>
            <p id="engagement" style="display: none; visibility: hidden;"></p>
        </div>
    </div>
    <div class="pure-u-1 {% if !video.has_related_streams() || playlist.is_some() %}pure-u-lg-3-5{% else %}pure-u-md-4-5{% endif %}">
        <div class="h-box">
            <a href="{{ video.get_uploader_url() }}" style="display:block;width:fit-content;width:-moz-fit-content">
                <div class="channel-profile">
                    <img src="{{ video.get_uploader_avatar_url() }}">
                    <span id="channel-name">{{ video.get_uploader_name() }}{% if video.is_uploader_verified() %}&nbsp;<i class="icon ion ion-md-checkmark-circle"></i>{% endif %}</span>
                </div>
            </a>
            {% let sub_count_text = video.get_uploader_subscriber_count()  %}
            {% let channel_id = video.get_uploader_id() %}
            {% let author = video.get_uploader_name() %}
            {% include "common/subscribe_widget.html" %}
            <p id="published-date">
            <b>{{ localize("shared_x_ago", x: video.get_upload_date()) }}</b>
            </p>
            <div id="description-box"> 
                <!-- Description -->
                {% if video.get_description().len() < 200 || context.preferences.extend_desc %}
                    <div id="descriptionWrapper">{{ video.get_description() }}</div>
                {% else %}
                    <input id="descexpansionbutton" type="checkbox"/>
                    <div id="descriptionWrapper">{{ video.get_description() }}</div>
                    <label for="descexpansionbutton">
                        <a></a>
                    </label>
                {% endif %}
            </div>
            <hr>
            <div id="comments">
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-5">
        {% if playlist.is_some() %}
            <div id="playlist" class="h-box"></div>
        {% endif %}
        <div class="h-box">
        {% if video.has_related_streams() %}
            <div {% if playlist.is_some() %}style="display:none"{% endif %}>
                <div class="pure-control-group">
                    <label for="continue">{{ localize("preferences_continue_label") }}</label>
                    <input name="continue" id="continue" type="checkbox" {% if context.continue_autoplay() %}checked{% endif %}>
                </div>
                <hr>
            </div>
        {% else %}
            <div class="h-box">
                {% for item in video.get_related_streams() %}
                    <div id="rv%{{ item.get_id() }}">
                        <a href="/watch?v={{ item.get_id() }}&{{ context.query_params() }}">
                            {% if !context.preferences.thin_mode %}
                                <div class="thumbnail">
                                    <img loading="lazy" class="thumbnail" src="https://proxy.invidio.xamh.de/vi/{{ item.get_id() }}/mqdefault.jpg?host=i.ytimg.com">
                                    <p class="length">{{ item.get_duration() }}</p>
                                </div>
                            {% endif %}
                            <p style="width:100%">{{ item.get_title() }}</p>
                        </a>
                        <h5 class="pure-g">
                            <div class="pure-u-14-24">
                                <b style="width:100%"><a href="{{ item.get_uploader_url() }}">{{ item.get_uploader_name() }}{% if item.is_uploader_verified() %}&nbsp;<i class="icon ion ion-md-checkmark-circle"></i>{% endif %}</a></b>
                            </div>

                            <div class="pure-u-10-24" style="text-align:right">
                                <b class="width:100%">
                                    {{ localize("generic_views_count", x: item.get_views()) }}
                                </b>
                            </div>
                        </h5>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<script src="/assets/js/watch.js"></script>
{% endblock content %}